<a href="https://colab.research.google.com/github/JLuceroVasquez/pandas-es-formatos-de-archivo/blob/main/cuaderno_clases.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Pandas E/S: trabajando con diferentes formatos de archivo
Durante el curso se enseño a usar la biblioteca Pandas para importar y exportar datos en diferentes formatos de archivo. Específicamente, se enseñó como trabajar con archivos CSV, Excel, JSON, HTML y XML, así como a leer y escribir en bases de datos SQL.

Con fines didácticos, para cada tipo de archivo, se abordó un caso de uso distinto a fin de trabajar con diferentes tipos de información.

In [ ]:
import pandas as pd

##Importando archivos csv

In [4]:
#Se crea una variable global que almacene la URL con la dirección al archivo CSV(separado por comas).
url_csv1 = 'https://raw.githubusercontent.com/JLuceroVasquez/pandas-es-formatos-de-archivo/refs/heads/main/data/csv/superstore_data.csv'

#Leemos el contenido del archivo con el método read_csv.
superstore_df1= pd.read_csv(url_csv1)
superstore_df1.head()

,Id,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,Response,Complain
0,1826,1970,Graduation,Divorced,84835.0,0,0,6/16/2014,0,189,...,111,189,218,1,4,4,6,1,1,0
1,1,1961,Graduation,Single,57091.0,0,0,6/15/2014,0,464,...,7,0,37,1,7,3,7,5,1,0
2,10476,1958,Graduation,Married,67267.0,0,1,5/13/2014,0,134,...,15,2,30,1,3,2,5,2,0,0
3,1386,1967,Graduation,Together,32474.0,1,1,11/5/2014,0,10,...,0,0,0,1,1,0,2,7,0,0
4,5371,1989,Graduation,Single,21474.0,1,0,8/4/2014,0,6,...,11,0,34,2,3,1,2,7,1,0

In [5]:
#Se realiza el mismo procedimiento para el segundo archivo csv, que contiene la misma información separadas por punto y coma.
url_csv2 = 'https://raw.githubusercontent.com/JLuceroVasquez/pandas-es-formatos-de-archivo/refs/heads/main/data/csv/superstore_data_punto_coma.csv'

superstore_df2= pd.read_csv(url_csv2, sep=';')
superstore_df2.head()

,Id,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,Response,Complain
0,1826,1970,Graduation,Divorced,84835.0,0,0,6/16/2014,0,189,...,111,189,218,1,4,4,6,1,1,0
1,1,1961,Graduation,Single,57091.0,0,0,6/15/2014,0,464,...,7,0,37,1,7,3,7,5,1,0
2,10476,1958,Graduation,Married,67267.0,0,1,5/13/2014,0,134,...,15,2,30,1,3,2,5,2,0,0
3,1386,1967,Graduation,Together,32474.0,1,1,11/5/2014,0,10,...,0,0,0,1,1,0,2,7,0,0
4,5371,1989,Graduation,Single,21474.0,1,0,8/4/2014,0,6,...,11,0,34,2,3,1,2,7,1,0

###Identificamos el formato de codificación
A fin de evitar problemas de lectura al conocer el formato en que se representan los caracteres del archivo a importar. La codificación, cuando es diferente al UTF8, debe especificarse como un parámetro del método pd.read_csv.

In [6]:
#Importamos la biblioteca chardet para detectar el encoding de un archivo CSV.
import chardet

In [11]:
#Abrimos el archivo guardado en Drive y guardamos su contenido escrito en binario en la variable file.
with open('/content/drive/MyDrive/Aprendizaje-vigente/Programa ONE/Ruta 5 - Aprendiendo a hacer ETL/3-pandas-es-formatos-de-archivo/aula1/superstore_data.csv','rb') as file:
  #Leemos el archivo con el método read(), y solicitamos que se identifique su codificación con chardet.detect.
  print(chardet.detect(file.read()))

{'encoding': 'ascii', 'confidence': 1.0, 'language': ''}

In [12]:
#No funcionó al ingresar como nombre de archivo al URL de GitHub.
with open(url_csv1,'rb') as file:
  print(chardet.detect(file.read()))

FileNotFoundError: [Errno 2] No such file or directory: 'https://raw.githubusercontent.com/JLuceroVasquez/pandas-es-formatos-de-archivo/refs/heads/main/data/csv/superstore_data.csv'